body{
    font-family: 'Oswald', sans-serif;
    
}

body, html, .container-fluid {
     height: 100%;
}
ul{
    list-style: none;
}

.center{
    text-align: center;
}
.scroll{
    overflow: scroll;
}

.text{
    font-family: 'Oswald', sans-serif;
}


.main{
    height: 300px;
    width:cover;
    
}
#mglogo{
    align-content: center; 
}

#middle_window{
    background-color: rgb(255,110,53,0.85);
    border: 3px;
    border-color: #AAAAAA;
}
#logo{
    padding-bottom: 25px;  
}